<h1>Complete Applicant Info.</h1>

<%= form_with model: @applicant do |form| %>
  <div class="field">
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name, placeholder: "Write your first name.", size: "69" %>
  </div>
  <div class="field">
    <%= form.label :last_name %><br />
    <%= form.text_field :last_name, placeholder: "Write your last name.", size: "69" %>
  </div>
  <div class="field">
    <%= form.label :logo, "Photo Url" %><br />
    <%= form.text_field :logo, placeholder: "Your photo", size: "69" %>
  </div>
  <div class="field">
    <%= form.label :birth_date %><br />
    <%= form.date_field :birth_date, placeholder: "Birth Date"%>
  </div>
  <div class="field">
    <%= form.label :is_working %><br />
    <%= form.check_box :is_working, value: false %>
  </div>
  <div class="field">
    <%= form.label :job_title %><br />
    <%= form.text_field :job_title, placeholder: "Write your current job or the job you are searching for.", size: "69" %>
  </div>
  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_field :description, placeholder: "Write a description about you.", size: "69" %>
  </div>
  <div class="field">
    <%= form.label :country %><br />
    <%= form.text_field :country, placeholder: "Write your country.", size: "69" %>
  </div>
  <div class="field">
    <%= form.label :address %><br />
    <%= form.text_field :address, placeholder: "Write your address.", size: "69" %>
  </div>
  <div class="field">
    <%= form.label :genre %><br />
    <%= form.text_field :genre, placeholder: "Write your genre.", size: "69" %>
  </div>
  <div class="field">
    <%= form.label :is_disabled_person %><br />
    <%= form.check_box :is_disabled_person, value: false %>
  </div>
  <div class="field">
    <%= form.label :expected_salary %><br />
    <%= form.number_field :expected_salary, step: 10000, value: 0 %>
  </div>
  <div class="field">
    <%= form.label :currency %><br />
    <%= form.text_field :currency, placeholder: "Currency.", size: "3" %>
  </div>
  <%= form.submit %>
<% end %>
<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
