<h1>Complete Company Info!</h1>

<%= form_with model: @company do |form| %>
  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name, placeholder: "Company Name", size: "69" %>
  </div>
  <div class="field">
    <%= form.label :logo %><br />
    <%= form.text_field :logo, placeholder: "Logo url!", size: "69"%>
  </div>

  <%= form.submit %>
<% end %>
